@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$font-family-base: 'Poppins', sans-serif;

$black : #04152D;
$dark: #020C1B;
$pink: #da2f68;
$blue: #173D77;

$theme-colors: map-merge($theme-colors , (
    'black': $black,
    'dark': $dark,
    'pink': $pink,
    'blue': $blue,
));

$modal-md: 700px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

#app {
    nav {
        a.navbar-brand {
            background: linear-gradient(to right, #F79A03, #DB3463);
            color: $gray-100;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;

            img {
                background: linear-gradient(to right, #F79A03, #DB3463);
            }
        }

        a.nav-link, i.bi {
            transition: all 0.3s linear;
            &:hover {
                color: $pink;
            }
        }
    }

    #search {
        transition: all 0.3s linear;
    }

    main {
        .hero {
            button {
                background: linear-gradient(to right, #F79A03, #DB3463);
            }
        }

        .sorted {
            input[type='text'] {
                &::placeholder {
                    color: $light !important;
                }
            }
        }

        .trending,
        .popular,
        .top-rated {
            button {
                transition: all 0.5s linear;
                &.active {
                    background: linear-gradient(to right, #F79A03, #DB3463);
                    color: white !important;
                }  
            } 
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 50px;
            background-color: white;
            mask-position: center;
            mask-size: 40px;
            mask-repeat: no-repeat;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center;
            -webkit-mask-size: 40px;
            path {
                color: white;
            }
            transition: all 0.3s linear;
            &:hover {
                background-color: crimson !important;
                transform: scale(1.25);
            }
        }

        .swiper-button-next::after,
        .swiper-button-prev::after {
            content: "";
        }

        .swiper-button-prev {
            -webkit-mask-image: url("/svg/arrow-left-circle-fill.svg");
            mask-image: url("/svg/arrow-left-circle-fill.svg");
        }
        .swiper-button-next {
            -webkit-mask-image: url("/svg/arrow-right-circle-fill.svg");
            mask-image: url("/svg/arrow-right-circle-fill.svg");
        }
    }

    footer {
        a {
            transition: all 0.3s linear;
            &:hover {
                color: $pink !important;
                cursor: pointer;
            }
        }
        button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: all 0.3s linear;
            &:hover {
                color: $pink;
                box-shadow: 0 0 3px 1px $pink;
            }
        }
    }
}

